<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyjava.mappers.AdminMapper">
	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.easyjava.entity.po.Admin">

		<!-- -->
		<id column="id" property="id"/>
		<!-- -->
		<result column="username" property="username"/>
		<!-- -->
		<result column="nickname" property="nickname"/>
		<!-- -->
		<result column="password" property="password"/>
	</resultMap>
	<!-- 通用查询结果列 -->
	<sql id="base_column_list">
		<if test="true">
			id,username,nickname,password
		</if>
	</sql>
</mapper>
