<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyjava.mappers.BooksInfoMapper">
	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.easyjava.entity.po.BooksInfo">

		<!--书籍id -->
		<id column="bid" property="bid"/>
		<!--书名 -->
		<result column="book_title" property="bookTitle"/>
		<!--书籍简介 -->
		<result column="descr" property="descr"/>
		<!--书籍价格 -->
		<result column="price" property="price"/>
	</resultMap>
	<!-- 通用查询结果列 -->
	<sql id="base_column_list">

			bid,book_title,descr,price

	</sql>
	<!-- 基础查询条件 -->
	<sql id="base_query_condition">
		<if test="query.bid !=null">
			and id= #{query.bid}
		</if>
		<if test="query.bookTitle !=null and query.bookTitle!=''">
			and id= #{query.bookTitle}
		</if>
		<if test="query.descr !=null and query.descr!=''">
			and id= #{query.descr}
		</if>
		<if test="query.price !=null">
			and id= #{query.price}
		</if>
	</sql>
	<!-- 扩展查询条件 -->
	<sql id="base_query_condition_extend">
		<if test="query.bookTitleFuzzy !=null and query.bookTitleFuzzy !=''">
			and book_title like concat('%',#{query.bookTitleFuzzy},'%')
		</if>
		<if test="query.descrFuzzy !=null and query.descrFuzzy !=''">
			and descr like concat('%',#{query.descrFuzzy},'%')
		</if>
	</sql>
	<!-- 通用查询条件 -->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!-- 查询列表 -->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM books_info <include refid="query_condition"/>
			<if test="query.orderBy!=null">order by ${query.orderBy}</if>
			<if test="query.simplePage!=null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>
	<!-- 查询数量 -->
	<select id="selectCount" resultType="java.lang.Long">
		SELECT count(1) FROM books_info <include refid="query_condition"/>
	</select>
	<!-- 插入(匹配有值的字段) -->
	<insert id="insert" parameterType="com.easyjava.entity.po.BooksInfo">
		<selectKey keyProperty="bean.bid" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
INSERT INTO books_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.bid != null">
				bid, 
			</if>
			<if test="bean.bookTitle != null">
				book_title, 
			</if>
			<if test="bean.descr != null">
				descr, 
			</if>
			<if test="bean.price != null">
				price, 
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.bid != null">
				#{bean.bid}, 
			</if>
			<if test="bean.bookTitle != null">
				#{bean.bookTitle}, 
			</if>
			<if test="bean.descr != null">
				#{bean.descr}, 
			</if>
			<if test="bean.price != null">
				#{bean.price}, 
			</if>

		</trim>
	</insert>
<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.easyjava.entity.po.BooksInfo">
		INSERT INTO books_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.bid != null">
				bid, 
			</if>
			<if test="bean.bookTitle != null">
				book_title, 
			</if>
			<if test="bean.descr != null">
				descr, 
			</if>
			<if test="bean.price != null">
				price, 
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.bid != null">
				#{bean.bid}, 
			</if>
			<if test="bean.bookTitle != null">
				#{bean.bookTitle}, 
			</if>
			<if test="bean.descr != null">
				#{bean.descr}, 
			</if>
			<if test="bean.price != null">
				#{bean.price}, 
			</if>

		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.bookTitle != null">
				bookTitle = VALUES(book_title),
			</if>
			<if test="bean.descr != null">
				descr = VALUES(descr),
			</if>
			<if test="bean.price != null">
				price = VALUES(price),
			</if>

		</trim>
	</insert>
<!-- 添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.easyjava.entity.po.BooksInfo">
		INSERT INTO books_info(book_title,descr,price) values
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.bookTitle},#{item.descr},#{item.price}
		</foreach>
	</insert>
<!-- 批量插入（或者更新）-->
	<insert id="insertOrUpdateBatch" parameterType="com.easyjava.entity.po.BooksInfo">
		INSERT INTO books_info(book_title,descr,price) values
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.bookTitle},#{item.descr},#{item.price}
		</foreach>
		on DUPLICATE key update
			bid = VALUES(bid),book_title = VALUES(book_title),descr = VALUES(descr),price = VALUES(price)
	</insert>
<!-- 根据主键更新 -->

	<!-- 根据Bid查询-->
	<select id="selectByBid" resultMap="base_result_map">
		select <include refid="base_column_list"/> from books_info where bid=#{bid}
	</select>

<!-- 根据Bid更新-->
	<update id="updateByBid" parameterType="com.easyjava.entity.po.BooksInfo">
		update from books_info
			<set>
				<if test="bean.bid!=null">
					bid=#{bean.bid},
				</if>
				<if test="bean.bookTitle!=null">
					book_title=#{bean.bookTitle},
				</if>
				<if test="bean.descr!=null">
					descr=#{bean.descr},
				</if>
				<if test="bean.price!=null">
					price=#{bean.price},
				</if>

			</set>
		where bid=#{bid}
	</update>
	<!-- 根据Bid删除-->
	<delete id="deleteByBid">
		delete from books_info where bid=#{bid}
	</delete>

</mapper>
